# Local .terraform directory
**/.terraform/

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive input files
*.tfvars
*.tfvars.json
terraform.tfvars
*.txt

# Lock info
.terraform.tfstate.lock.info
.terraform.lock.hcl
-
# CLI config
.terraformrc
terraform.rc

# Terraform plan output 
*.tfplan


# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/